// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 50px 50px;
}

.box {
  border-left: solid 5px grey;
  padding-left: 20px;
}

.answer {
  background-color: #FFFFE1;
}
